.mainPage{
/*	background: url('/images/bg.jpg') no-repeat   center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	min-height:calc(100vh - 70px);
	/*padding-top:100px;*/
	color:#252525;
	/*line-height:50vh;*/
}
.middleAligned{
	padding:10%;
	padding-bottom:2%;
}
.urlInput{
	background:#EFEEEE;
	height:50px;
	display:block;
	overflow:hidden;
	margin:1em auto;
	margin-bottom:0;
	border:1px solid #dedede;
}
.abInput{
	position:relative;
	z-index:1;
	max-width:320px;
	width:calc(100% - 2em);
}

.input_field {
	position: absolute;
	top: 0;
	float:right;
	right: 30%;
	width: 70%;
	height: 100%;
	background: #fff;
	color: #2F3238;
	border:2px solid #777;
	padding:0 1em;
	font-size: 15px;
}

.input_label{
	float:right;
	padding:0 1em;
	color:#6A7989;
	font-weight:bold;
	font-size: 19px;
	z-index: 10;
	display: block;
	width: 30%;
	height: 100%;
	text-align: left;
	cursor: text;
	-webkit-font-smoothing:antialiased;
}
.input_label_content{
	height:100%;
	padding:0.8em 0;
	position:relative;
	display:block;
	width:100%;
}

.urlWarning{
	position:relative;
	z-index:1;
	max-width:320px;
	width:-webkit-calc(100% - 2em);
	width:calc(100% - 2em);
	overflow:hidden;
	display: block;
	-webkit-transition-property:all;
			transition-property: all;
	-webkit-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);	

}

#abWarning{
	color:#fff;
	background:#E74C3C;
	max-height:0px;
	height: auto;
	margin:0 auto;
}
#alreadyExistsSpan{
	margin: 0 auto;
	height: Auto;
	max-height: 0px;
	color: #fff;
	background: #101010;
}

.activeWarning{
	max-height: 100px !important;
	padding-top: 8px;
	padding-bottom: 8px;
}

#codeUrlButton{
	margin:1em;
}

