{% extends '../layout.html'  %}
{% block style %} 
<link rel='stylesheet' href='/css/index.css'> 
{% endblock %}
{% block main %}
<div class="ui center aligned ab container mainPage">

	<div class="middleAligned">	
		loraim ipsum maatam amait baithate hain , chonsaichtaitur adipisching ailit , aiiusmod kar eseedee
		aur jeevan shakti , taimpor yootee laborai et dolorai maigna aliqu . in varshon mein aate hain,
		kaun nostrud vyaayaam skool jile ka kaam hai, lekin lagata hai ki aliquip poorv eee chommodo
		vikaas. 
	</div>
	 	<div class="ui ab basic black button">Padhare</div>
</div>
{% endblock %}
<!-- <div class="main">
  <h1>Welcome to <%- title %> </h1>
  <p>I'm using generator-express MVC!</p>
  <a href="signup">SIGN-UP</a>
</div> -->
{% block script %}
<script type='text/javascript' src='js/index.js'></script>
{% endblock %}